.aboutMainBlock {
  margin-bottom: 57px;
}

.beforeAboutLine {
  display: inline-block;
  height: 0px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #FF5543;
  -webkit-transition: height 2s;
}

.afterAboutLine {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  height: 150px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #FF5543;
  -webkit-transition: height 2s;
}

.beforeAboutLine p {
  display: inline-block;
  font-size: 150px;
  font-family: 'helvetica';
  color: white;
  letter-spacing: 100px;
  margin: 30px auto;
  font-weight: 600;
  color: white;
}

.afterAboutLine p {
  display: inline-block;
  font-size: 150px;
  font-family: 'helvetica';
  color: white;
  letter-spacing: 100px;
  margin: 30px auto;
  font-weight: 600;
  color: white;
}

.beforeAboutPage {
  height: 0px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  border-bottom: 0px solid #FF5543;
  -webkit-transition: height 2s, border-bottom 2s;
  -webkit-transition-delay: border-bottom 2s;
}

.afterAboutPage {
  height: 400px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  border-bottom: 3px solid #FF5543;
  -webkit-transition: height 2s;
  -webkit-transition-delay: border-bottom 2s;
}

.beforeAboutPage img {
  display: inline-block;
  position: relative;
  margin: 15px auto;
  height: 45px;
  width: auto;
  border-radius: 180px;
  z-index: -1;
  box-shadow: 0.5px 0.5px 0.5px 0.5px;
  visibility: hidden;
  -webkit-transition: visibility 1s;
}

.afterAboutPage img {
  display: inline-block;
  margin: 15px auto;
  position: relative;
  height: 50px;
  width: auto;
  border-radius: 180px;
  visibility: visible;
  box-shadow: 2px 2px 2px 2px;
  -webkit-transition: visibility 2s;
  -webkit-transition-delay: 1s;
}

.beforeAboutPage .innerBlock {
  display: inline-flex;
  margin: 30px auto 0px;
  width: 100%;
  height: 0px;
  text-align: center;
  -webkit-transition: height 2s, visibility 2s;
}

.afterAboutPage .innerBlock {
  display: inline-flex;
  margin: 30px auto 0px;
  text-align: center;
  width: 100%;
  height: 300px;
  -webkit-transition: height 2s, visibility 2s;
}

.beforeAboutPage .innerBlock #photo {
  display: inline-block;
  position: relative;
  height: 150px;
  width: auto;
}

.afterAboutPage .innerBlock #photo {
  display: inline-block;
  position: relative;
  height: 150px;
  width: auto;
}

.beforeAboutPage .innerBlock .left {
  position: relative;
  height: 300px;
  width: 550px;
  float: left;
  margin-left: 50px;
}

.afterAboutPage .innerBlock .left {
  position: relative;
  height: 200px;
  width: 550px;
  float: left;
  text-align: left;
  margin-left: 50px;
}

.beforeAboutPage .innerBlock .right {
  position: relative;
  height: 300px;
  width: 550px;
  float: right;
  margin-right: 50px;
}

.afterAboutPage .innerBlock .right {
  position: relative;
  height: 200px;
  width: 550px;
  float: right;
  text-align: right;
  margin-right: 50px;
}

.beforeAboutPage .innerBlock .left p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-style: italic;
  font-variant: small-caps;
  font-weight: 200;
  line-height: 25px;
  letter-spacing: 1px;
  color: black;
}

.afterAboutPage .innerBlock .left p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-style: italic;
  font-variant: small-caps;
  font-weight: 200;
  line-height: 25px;
  letter-spacing: 1px;
  color: black;
}

.beforeAboutPage .innerBlock .right p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-style: italic;
  font-variant: small-caps;
  font-weight: 200;
  line-height: 25px;
  letter-spacing: 1px;
  color: black;
  /*padding: 0px 20px;*/
}

.afterAboutPage .innerBlock .right p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-style: italic;
  font-variant: small-caps;
  font-weight: 200;
  line-height: 25px;
  letter-spacing: 1px;
  color: black;
  /*padding: 0px 20px;*/
}

.beforeAboutPage .iconsLink {
  display: inline-flex;
  position: relative;
  height: 100px;
  width: 400px;
  top: -50px;
  justify-content: space-around;
  -webkit-transition: top 1s;
}

.afterAboutPage .iconsLink {
  display: inline-flex;
  position: relative;
  height: 100px;
  width: 400px;
  top: -100px;
  justify-content: space-around;
}

.beforeAboutPage .iconsLink img {
  position: relative;
  align-items: center;
}

.afterAboutPage .iconsLink img {
  position: relative;
  align-items: center;
}



