.mainBlock {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
}

.beforeLogo img {
  display: inline-block;
  position: relative;
  margin: 0px 50px 130px 0px;
  top: 225px;
  height: 200px;
  width: 200px;
  border: 2px solid black;
  border-radius: 180px;
  transition: height 2s, width 2s, top 2s, -webkit-transform 2s;
  -webkit-transition: height 2s, width 2s, top 2s, -webkit-transform 2s;
}

.afterLogo img {
  display: inline-block;
  position: relative;
  margin: 0px 50px 130px 0px;
  top: 125px;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 180px;
  transition: height 2s, width 2s, top 2s;
  -webkit-transition: height 2s, width 2s, top 2s;
}

.beforeLogo img:hover {
  animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
   10%, 90% {
    transform: translate3d(-1px, -1px, -1px);
  }
  20%, 80% {
    transform: translate3d(2px, 1px, 1px);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, -2px, -2px);
  }
  40%, 60% {
    transform: translate3d(4px, 2px, 2px);
  }
}

.beforeClickMenu {
  height: 0px;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-transition: height 2s;
}

.afterClickMenu {
  height: 365px;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-transition: height 2s;
}

.lines p {
  font-size: 150px;
  font-family: 'helvetica';
  color: white;
  letter-spacing: 100px;
  margin: 6px 0px 0px 30px;
  font-weight: 600;
}

.beforeClickMenu .lines {
  height: 0px;
  width: 1500px;
  background-color: #FFA60D;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-transition: height 2s;
}

.afterClickMenu .lines {
  display: inline-block;
  height: 125px;
  width: 1500px;
  background-color: #FFA60D;
  text-align: center;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-transition: height 2s;
}

.beforeClickMenu .categories {
  height: 0px;
  -webkit-transition: height 2s, top 1s;
}

.afterClickMenu .categories {
  height: 225px;
  -webkit-transition: height 2s;
}

.categories ul {
  display: inline-flex;
  list-style: none;
  text-align: center;
  margin: 10px 0px 0px -85px;
  flex-direction: row;
  justify-content: space-around;
}

.beforeClickMenu .categories ul img {
  height: 200px;
  width: 200px;
  border-radius: 180px;
  margin: 0px 50px 0px;
  z-index: 1;
  -webkit-transition: height 2s, width 2s, margin 2s;
}

.afterClickMenu .categories ul img {
  height: 200px;
  width: 200px;
  border-radius: 180px;
  margin: 0px 50px 0px;
  z-index: 1;
  -webkit-transition: height 2s, width 2s, margin 2s;
  -webkit-transition-delay: 0.5s;
}

.afterClickMenu .categories ul img:hover {
  height: 235px;
  width: 235px;
  -webkit-transition: height 1s, width 1s;
}

.categories ul li p {
  text-align: center;
  margin: 90px auto;
}
