@media (max-width: 500px) {
  .portMissMainBlock .beforeMissionXLine {
    height: 0px;
  }
  .portMissMainBlock .afterMissionXLine {
    height: 75px;
  }
  .portMissMainBlock .beforeMissionXLine p {
    width: 100%;
    font-size: 70px;
    letter-spacing: 5px;
    margin-top: 15px;
  }
  .portMissMainBlock .afterMissionXLine p {
    width: 100%;
    font-size: 70px;
    letter-spacing: 5px;
    margin-top: 15px;
  }
  .portMissMainBlock .afterMissionXPage {
    height: 620px;
  }
  .portMissMainBlock .beforeMissionXPage .innerBlock {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    height: 0px;
    margin-top: -10px;
    width: 100%;
  }
  .portMissMainBlock .afterMissionXPage .innerBlock {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    height: 450px;
    margin-top: -10px;
    width: 100%;
  }
  .portMissMainBlock #MissPicture {
    height: auto;
    width: 300px;
    margin-top: -25px;
  }
  .portMissMainBlock .beforeMissionXPage .innerBlock .left .icons {
    margin: -10px auto 0px;
  }
  .portMissMainBlock .afterMissionXPage .innerBlock .left .icons {
    margin: -10px auto 0px;
  }
  .portMissMainBlock .beforeMissionXPage #iconGit {
    height: 40px;
  }
  .portMissMainBlock .beforeMissionXPage #iconHer {
    height: 40px;
  }
  .portMissMainBlock .afterMissionXPage #iconGit {
    height: 40px;
  }
  .portMissMainBlock .afterMissionXPage #iconHer {
    height: 40px;
  }
  .portMissMainBlock .beforeMissionXPage .innerBlock .right {
    margin-top: -100px;
    height: 100px;
    width: 100%;
    border-left: 0px solid black;
    -webkit-transition: height 2s;
  }
  .portMissMainBlock .afterMissionXPage .innerBlock .right {
    margin-top: -100px;
    height: 100px;
    width: 100%;
    border-left: 0px solid black;
    -webkit-transition: height 2s;
  }
  .portMissMainBlock .beforeMissionXPage .innerBlock .right .descript {
    height: 200px;
    width: 100%;
    z-index: -1;
  }
  .portMissMainBlock .afterMissionXPage .innerBlock .right .descript {
    height: 200px;
    width: 100%;
    z-index: -1;
  }
  .portMissMainBlock .beforeMissionXPage .innerBlock .right .descript h1 {
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 3px;
    padding-left: 0px;
    margin-bottom: -10px;
  }
  .portMissMainBlock .afterMissionXPage .innerBlock .right .descript h1 {
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 3px;
    padding-left: 0px;
    margin-bottom: -10px;
  }
  .portMissMainBlock .beforeMissionXPage .innerBlock .right .descript p {
    font-size: 18px;
    font-weight: 200;
    line-height: 20px;
    padding-left: 0px;
  }
  .portMissMainBlock .afterMissionXPage .innerBlock .right .descript p {
    font-size: 18px;
    font-weight: 200;
    line-height: 20px;
    padding-left: 0px;
  }
  .portMissMainBlock .beforeMissionXPage .innerBlock .right .tech {
    height: 150px;
    width: 100%;
    margin-left: 0px;
  }
  .portMissMainBlock .afterMissionXPage .innerBlock .right .tech {
    height: 150px;
    width: 100%;
    margin-left: 0px;
  }
  .portMissMainBlock .beforeMissionXPage .innerBlock .right .tech h1 {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 2px;
    padding-right: 0px;
    margin-bottom: -10px;
  }
  .portMissMainBlock .afterMissionXPage .innerBlock .right .tech h1 {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 2px;
    padding-right: 0px;
    margin-bottom: -10px;
  }
  .portMissMainBlock .beforeMissionXPage .innerBlock .right .tech p {
    font-size: 18px;
    letter-spacing: 1px;
    padding-right: 0px;
  }
  .portMissMainBlock .afterMissionXPage .innerBlock .right .tech p {
    font-size: 18px;
    letter-spacing: 1px;
    padding-right: 0px;
  }
}

/*end media query*/
.beforeMissionXLine {
  height: 0px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #68AFFF;
  transition: height 2s;
  -webkit-transition: height 2s;
  -moz-transition: height 2s;
  -ms-transition: height 2s;
}

.beforeMissionXLine p {
  font-size: 150px;
  font-family: 'helvetica';
  color: white;
  letter-spacing: 40px;
  margin: 30px auto;
  font-weight: 600;
  color: white;
}

.afterMissionXLine p {
  font-size: 150px;
  font-family: 'helvetica';
  color: white;
  letter-spacing: 40px;
  margin: 30px auto;
  font-weight: 600;
  color: white;
}

.afterMissionXLine {
  height: 150px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #68AFFF;
  transition: height 2s;
  -webkit-transition: height 2s;
  -moz-transition: height 2s;
  -ms-transition: height 2s;
}

.beforeMissionXPage {
  display: inline-flex;
  flex-direction: column;
  height: 0px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  border-bottom: 0px solid #68AFFF;
  transition: height 2s, border-bottom 2s;
  transition-delay: border-bottom 2s;
  -webkit-transition: height 2s, border-bottom 2s;
  -webkit-transition-delay: border-bottom 2s;
  -moz-transition: height 2s, border-bottom 2s;
  -moz-transition-delay: border-bottom 2s;
  -ms-transition: height 2s, border-bottom 2s;
  -ms-transition-delay: border-bottom 2s;
}

.afterMissionXPage {
  display: inline-flex;
  flex-direction: column;
  height: 525px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  border-bottom: 3px solid #68AFFF;
  transition: height 2s;
  transition-delay: border-bottom 2s;
  -webkit-transition: height 2s;
  -webkit-transition-delay: border-bottom 2s;
  -moz-transition: height 2s;
  -moz-transition-delay: border-bottom 2s;
  -ms-transition: height 2s;
  -ms-transition-delay: border-bottom 2s;
}

.beforeMissionXPage #missionX {
  display: inline-block;
  position: relative;
  margin: 15px auto;
  height: 45px;
  width: 45px;
  border-radius: 180px;
  outline: none;
  z-index: -1;
  box-shadow: 0.5px 0.5px 0.5px 0.5px;
  visibility: hidden;
  transition: visibility 1s;
  -webkit-transition: visibility 1s;
  -moz-transition: visibility 1s;
  -ms-transition: visibility 1s;
}

.afterMissionXPage #missionX {
  display: inline-block;
  margin: 15px auto;
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 180px;
  visibility: visible;
  outline: none;
  box-shadow: 2px 2px 2px 2px;
  transition: visibility 2s;
  transition-delay: 1s;
  -webkit-transition: visibility 2s;
  -webkit-transition-delay: 1s;
  -moz-transition: visibility 2s;
  -moz-transition-delay: 1s;
  -ms-transition: visibility 2s;
  -ms-transition-delay: 1s;
}

.beforeMissionXPage .innerBlock {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  height: 0px;
  margin-top: 15px;
  width: 100%;
  transition: height 2s;
  -webkit-transition: height 2s;
  -moz-transition: height 2s;
  -ms-transition: height 2s;
}

.afterMissionXPage .innerBlock {
  display: inline-flex;
  flex-direction: row;
  margin-top: 15px;
  width: 100%;
  height: 300px;
  justify-content: center;
  transition: height 2s;
  -webkit-transition: height 2s;
  -moz-transition: height 2s;
  -ms-transition: height 2s;
}

.beforeMissionXPage .innerBlock .left {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  margin-top: 15px;
  height: 400px;
  width: 100%;
  transition: margin-top 2s;
  -webkit-transition: margin-top 2s;
  -moz-transition: margin-top 2s;
  -ms-transition: margin-top 2s;
}

.afterMissionXPage .innerBlock .left {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  margin-top: 15px;
  height: 400px;
  width: 100%;
  transition: margin-top 2s;
  -webkit-transition: margin-top 2s;
  -moz-transition: margin-top 2s;
  -ms-transition: margin-top 2s;
}

#MissPicture {
  display: inline-block;
  position: relative;
  height: auto;
  width: 525px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow:  0px 0px 10px 5px rgba(104, 175, 255, 0.3), 0 0 40px rgba(104, 175, 255, 0.3) inset;
  -webkit-box-shadow:  0px 0px 10px 5px rgba(104, 175, 255, 0.3), 0 0 40px rgba(104, 175, 255, 0.3) inset;
  -moz-box-shadow:  0px 0px 10px 5px rgba(104, 175, 255, 0.3), 0 0 40px rgba(104, 175, 255, 0.3) inset;
  -ms-box-shadow:  0px 0px 10px 5px rgba(104, 175, 255, 0.3), 0 0 40px rgba(104, 175, 255, 0.3) inset;
}

.beforeMissionXPage .innerBlock .left .icons {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  justify-content: space-around;
  align-items: center;
  height: auto;
  width: 150px;
  text-align: center;
  margin: 10px auto 0px;
}

.afterMissionXPage .innerBlock .left .icons {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  height: auto;
  width: 150px;
  margin: 10px auto 0px;
}

.beforeMissionXPage #iconGit {
  display: inline-block;
  height: 50px;
  width: auto;
}

.beforeMissionXPage #iconHer {
  display: inline-block;
  height: 50px;
  width: auto;
}

.afterMissionXPage #iconGit {
  display: inline-block;
  height: 50px;
  width: auto;
}

.afterMissionXPage #iconHer {
  display: inline-block;
  height: 50px;
  width: auto;
}

.beforeMissionXPage .innerBlock .right {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  float: right;
  margin: 100px 50px 0px 0px;
  height: 200px;
  width: 100%;
  border-left: 2px solid black;
  text-align: center;
}

.afterMissionXPage .innerBlock .right {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  margin: 100px 50px 0px 0px;
  height: 200px;
  width: 100%;
  border-left: 2px solid black;
  text-align: center;
}

.beforeMissionXPage .innerBlock .right .descript {
  display: inline-block;
  position: relative;
  height: 250px;
  width: 100%;
  margin: -100px 0px 0px 0px;
  text-align: center;
}

.afterMissionXPage .innerBlock .right .descript {
  display: inline-block;
  position: relative;
  height: 250px;
  width: 100%;
  margin: -100px 0px 0px 0px;
  text-align: center;
}

.beforeMissionXPage .innerBlock .right .descript h1 {
  font-family: 'helvetica';
  font-weight: 300;
  letter-spacing: 5px;
  padding-left: 40px;
}

.afterMissionXPage .innerBlock .right .descript h1 {
  font-family: 'helvetica';
  font-weight: 300;
  letter-spacing: 5px;
  padding-left: 40px;
}

.beforeMissionXPage .innerBlock .right .descript p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-style: italic;
  font-variant: small-caps;
  font-weight: 200;
  line-height: 25px;
  letter-spacing: 1px;
  color: black;
  padding-left: 40px;
}

.afterMissionXPage .innerBlock .right .descript p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-style: italic;
  font-variant: small-caps;
  font-weight: 200;
  line-height: 25px;
  letter-spacing: 1px;
  color: black;
  padding-left: 40px;
}

.beforeMissionXPage .innerBlock .right .tech {
  display: inline-block;
  position: relative;
  height: 200px;
  width: 100%;
  margin-left: 40px;
  border-top: 1px solid black;
  text-align: center;
}

.afterMissionXPage .innerBlock .right .tech {
  display: inline-block;
  position: relative;
  height: 200px;
  width: 100%;
  margin-left: 40px;
  border-top: 1px solid black;
  text-align: center;
}

.beforeMissionXPage .innerBlock .right .tech h1 {
  font-size: 25px;
  font-family: 'helvetica';
  font-weight: 300;
  letter-spacing: 3px;
  padding-right: 40px;
}

.afterMissionXPage .innerBlock .right .tech h1 {
  font-size: 25px;
  font-family: 'helvetica';
  font-weight: 300;
  letter-spacing: 3px;
  padding-right: 40px;
}

.beforeMissionXPage .innerBlock .right .tech p {
  color: black;
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-variant: small-caps;
  letter-spacing: 2px;
  text-align: center;
  padding-right: 40px;
}

.afterMissionXPage .innerBlock .right .tech p {
  color: black;
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-variant: small-caps;
  letter-spacing: 2px;
  padding-right: 40px;
}
