.beforeMonsterLine {
  border: 1px solid red;
  height: 0px;
  -webkit-transition: height 2s;
  -webkit-transition-delay: 1s;
}

.afterMonsterLine {
  border: 1px solid red;
  height: 150px;
  -webkit-transition: height 1s;
}

.beforeMonsterPage button {
  display: block;
  margin: 0 auto;
  visibility: hidden;
  -webkit-transition: visibility 1s;
}

.afterMonsterPage button {
  display: block;
  margin: 0 auto;
  visibility: visible;
  -webkit-transition: visibility 2s;
  -webkit-transition-delay: 2s;
}

.beforeMonsterPage {
  border: 1px solid blue;
  height: 0px;
  visibility: hidden;
  -webkit-transition: height 2s, visibility 2s;
}

.afterMonsterPage {
  border: 1px solid blue;
  height: 400px;
  -webkit-transition: height 2s, visibility 2s;
}
