@media (max-width: 500px) {
  .portMainBlock .afterPortLine {
    height: 100px;
  }
  .portMainBlock .beforePortLine p {
    font-size: 80px;
    letter-spacing: 10px;
    margin-top: 30px;
  }
  .portMainBlock .afterPortLine p {
    font-size: 80px;
    letter-spacing: 10px;
    margin-top: 30px;
  }
  .portMainBlock .afterPortPage {
    height: 250px;
  }
  .portMainBlock .beforePortPage ul li {
    height: 150px;
    width: 130px;
  }
  .portMainBlock .afterPortPage ul li {
    height: 150px;
    width: 130px;
  }
  .portMainBlock .beforePortPage ul img {
    height: 125px;
    width: 125px;
  }
  .portMainBlock .afterPortPage ul img {
    height: 125px;
    width: 125px;
  }
  .portMainBlock .hvr-back-pulse {
    height: 128px;
    width: 128px;
    left: -146px;
    top: -60px;
  }
  .portMainBlock .hvr-back-pulse h1 {
    margin: 58px auto;
    font-size: 14px;
  }
}
/*end of media query*/
.beforePortLine {
  height: 0px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #68AFFF;
  transition: height 2s;
  -webkit-transition: height 2s;
  -moz-transition: height 2s;
  -ms-transition: height 2s;
}

.portMainBlock p {
  font-size: 150px;
  font-family: 'helvetica';
  color: white;
  letter-spacing: 70px;
  margin: 30px auto;
  font-weight: 600;
  color: white;
}

.afterPortLine {
  height: 150px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #68AFFF;
  transition: height 2s;
  -webkit-transition: height 2s;
  -moz-transition: height 2s;
  -ms-transition: height 2s;
}

.beforePortPage {
  display: inline-flex;
  flex-direction: column;
  height: 0px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  border-bottom: 0px solid #68AFFF;
  transition: height 2s, border-bottom 2s;
  transition-delay: border-bottom 2s;
  -webkit-transition: height 2s, border-bottom 2s;
  -webkit-transition-delay: border-bottom 2s;
  -moz-transition: height 2s, border-bottom 2s;
  -moz-transition-delay: border-bottom 2s;
  -ms-transition: height 2s, border-bottom 2s;
  -ms-transition-delay: border-bottom 2s;
}

.afterPortPage {
  display: inline-flex;
  flex-direction: column;
  margin: 0 auto;
  height: 450px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  border-bottom: 3px solid #68AFFF;
  transition: height 2s;
  transition-delay: border-bottom 2s;
  -webkit-transition: height 2s;
  -webkit-transition-delay: border-bottom 2s;
  -moz-transition: height 2s;
  -moz-transition-delay: border-bottom 2s;
  -ms-transition: height 2s;
  -ms-transition-delay: border-bottom 2s;

}

.beforePortPage #portfolio {
  display: inline-block;
  position: relative;
  margin: 15px auto;
  height: 45px;
  width: 45px;
  border-radius: 180px;
  z-index: -1;
  box-shadow: 0.5px 0.5px 0.5px 0.5px;
  visibility: hidden;
  transition: visibility 1s;
  -webkit-transition: visibility 1s;
  -moz-transition: visibility 1s;
  -ms-transition: visibility 1s;
}

.afterPortPage #portfolio {
  display: inline-block;
  position: relative;
  margin: 15px auto;
  height: 50px;
  width: 50px;
  border-radius: 180px;
  box-shadow: 2px 2px 2px 2px;
  visibility: visible;
  transition: visibility 2s;
  transition-delay: 1s;
  -webkit-transition: visibility 2s;
  -webkit-transition-delay: 1s;
  -moz-transition: visibility 2s;
  -moz-transition-delay: 1s;
  -ms-transition: visibility 2s;
  -ms-transition-delay: 1s;
}

.beforePortPage ul li {
  height: 300px;
  width: 300px;
  z-index: 1;
}

.afterPortPage ul li {
  height: 300px;
  width: 300px;
  z-index: 1;
}

.portMainBlock ul {
  display: inline-flex;
  position: relative;
  list-style: none;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px;
  overflow-x: auto;
  overflow-y: hidden;
}

.beforePortPage ul img {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  margin: 0px 20px 0px;
  box-shadow:  0 1px 5px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  transition: height 2s, width 2s, margin 2s;
  -webkit-box-shadow:  0 1px 5px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -webkit-transition: height 2s, width 2s, margin 2s;
  -moz-box-shadow:  0 1px 5px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-transition: height 2s, width 2s, margin 2s;
  -ms-box-shadow:  0 1px 5px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -ms-transition: height 2s, width 2s, margin 2s;
}

.afterPortPage ul img {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  margin: 0px 20px 0px;
  box-shadow:  0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  transition: height 2s, width 2s, margin 2s;
  transition-delay: 1s;
  -webkit-box-shadow:  0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -webkit-transition: height 2s, width 2s, margin 2s;
  -webkit-transition-delay: 1s;
  -moz-box-shadow:  0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-transition: height 2s, width 2s, margin 2s;
  -moz-transition-delay: 1s;
  -ms-box-shadow:  0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -ms-transition: height 2s, width 2s, margin 2s;
  -ms-transition-delay: 1s;
}

/* Back Pulse */
@-webkit-keyframes hvr-back-pulse {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}
@keyframes hvr-back-pulse {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}
.hvr-back-pulse {
  display: inline-block;
  height: 300px;
  width: 300px;
  position: relative;
  left: -321px;
  top: -147px;
  border-radius: 10px;
  color: transparent;
  font-size: 30px;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  -moz-transform: perspective(1px) translateZ(0);
  -ms-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -ms-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-property: color, background-color;
  -moz-transition-property: color, background-color;
  -ms-transition-property: color, background-color;
  transition-property: color, background-color;
}

.hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
  background-color: rgba(32,152,209,0.8);
  color: white;
}

.hvr-back-pulse h1 {
  margin: 120px auto;
  font-size: 30px;
}
