.resumeMainBlock {
  margin-top: -35px;
}

.beforeResumeLine {
  display: inline-block;
  height: 0px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: -1;
  background-color: #FFFF67;
  transition: height 2s;
  -webkit-transition: height 2s;
  -moz-transition: height 2s;
  -ms-transition: height 2s;
}

.afterResumeLine {
  display: inline-block;
  margin: 0 auto;
  height: 150px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: -1;
  background-color: #FFFF67;
  transition: height 2s;
  -webkit-transition: height 2s;
  -moz-transition: height 2s;
  -ms-transition: height 2s;
}

.beforeResumeLine p {
  display: inline-block;
  font-size: 150px;
  font-family: 'helvetica';
  color: white;
  letter-spacing: 100px;
  margin: 30px auto;
  font-weight: 600;
  color: white;
}

.afterResumeLine p {
  display: inline-block;
  font-size: 150px;
  font-family: 'helvetica';
  color: white;
  letter-spacing: 100px;
  margin: 30px auto;
  font-weight: 600;
  color: white;
}

.beforeResumePage {
  height: 0px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  border-bottom: 0px solid #FFFF67;
  transition: height 2s, border-bottom 2s;
  transition-delay: border-bottom 2s;
  -webkit-transition: height 2s, border-bottom 2s;
  -webkit-transition-delay: border-bottom 2s;
  -moz-transition: height 2s, border-bottom 2s;
  -moz-transition-delay: border-bottom 2s;
  -ms-transition: height 2s, border-bottom 2s;
  -ms-transition-delay: border-bottom 2s;
}

.afterResumePage {
  height: 400px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  border-bottom: 3px solid #FFFF67;
  transition: height 2s;
  transition-delay: border-bottom 2s;
  -webkit-transition: height 2s;
  -webkit-transition-delay: border-bottom 2s;
  -moz-transition: height 2s;
  -moz-transition-delay: border-bottom 2s;
  -ms-transition: height 2s;
  -ms-transition-delay: border-bottom 2s;
}

.beforeResumePage #info {
  display: inline-block;
  position: relative;
  margin: 15px auto;
  height: 45px;
  width: auto;
  border-radius: 180px;
  z-index: -1;
  box-shadow: 0.5px 0.5px 0.5px 0.5px;
  visibility: hidden;
  transition: visibility 1s;
  -webkit-transition: visibility 1s;
  -moz-transition: visibility 1s;
  -ms-transition: visibility 1s;
}

.afterResumePage #info {
  display: inline-block;
  margin: 15px auto;
  position: relative;
  height: 50px;
  width: auto;
  border-radius: 180px;
  visibility: visible;
  box-shadow: 2px 2px 2px 2px;
  transition: visibility 2s;
  transition-delay: 1s;
  -webkit-transition: visibility 2s;
  -webkit-transition-delay: 1s;
  -moz-transition: visibility 2s;
  -moz-transition-delay: 1s;
  -ms-transition: visibility 2s;
  -ms-transition-delay: 1s;
}

.beforeResumePage .innerBlock {
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
  margin: 30px auto 0px;
  width: 100%;
  height: 0px;
  transition: height 2s, visibility 2s;
  -webkit-transition: height 2s, visibility 2s;
  -moz-transition: height 2s, visibility 2s;
  -ms-transition: height 2s, visibility 2s;
}

.afterResumePage .innerBlock {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px auto 0px;
  width: 100%;
  height: 200px;
  transition: height 2s, visibility 2s;
  -webkit-transition: height 2s, visibility 2s;
  -moz-transition: height 2s, visibility 2s;
  -ms-transition: height 2s, visibility 2s;
}

.beforeResumePage .innerBlock #photo {
  display: inline-block;
  position: relative;
  border-radius: 180px;
  height: 150px;
  width: auto;
}

.afterResumePage .innerBlock #photo {
  display: inline-block;
  position: relative;
  border-radius: 180px;
  height: 150px;
  width: auto;
}

.beforeResumePage .innerBlock .left {
  position: relative;
  height: 200px;
  width: 550px;
  text-align: center;
}

.afterResumePage .innerBlock .left {
  position: relative;
  height: 200px;
  width: 550px;
  text-align: center;
}

.beforeResumePage .innerBlock .right {
  position: relative;
  height: 200px;
  width: 550px;
  text-align: center;
}

.afterResumePage .innerBlock .right {
  position: relative;
  height: 200px;
  width: 550px;
  text-align: center;
}

.beforeResumePage .innerBlock .left p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-style: italic;
  font-variant: small-caps;
  font-weight: 200;
  line-height: 25px;
  letter-spacing: 1px;
  color: black;
}

.afterResumePage .innerBlock .left p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-style: italic;
  font-variant: small-caps;
  font-weight: 200;
  line-height: 25px;
  letter-spacing: 1px;
  color: black;
}

.beforeResumePage .innerBlock .right p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-style: italic;
  font-variant: small-caps;
  font-weight: 200;
  line-height: 25px;
  letter-spacing: 1px;
  color: black;
}

.afterResumePage .innerBlock .right p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-style: italic;
  font-variant: small-caps;
  font-weight: 200;
  line-height: 25px;
  letter-spacing: 1px;
  color: black;
}

.beforeResumePage .buttons {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  height: 70px;
  width: 100px;
  top: -30px;
}

.afterResumePage .buttons {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  height: 70px;
  width: 100px;
  top: -30px;
}

.beforeResumePage .buttons img {
  display: inline-block;
  height: 50px;
  width: auto;
}

.afterResumePage .buttons img {
  display: inline-block;
  height: 50px;
  width: auto;
}
