.beforeResumeLine {
  position: relative;
  top: 0px;
  height: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: -1;
  background-color: #FFFF67;
  -webkit-transition: height 2s, top 2s;
}

.resumeMainBlock p {
  font-size: 150px;
  font-family: 'helvetica';
  color: white;
  letter-spacing: 100px;
  padding: 0px 0px 0px 80px;
  margin: 30px auto;
  font-weight: 600;
  color: white;
}

.afterResumeLine {
  position: relative;
  top: -35px;
  height: 150px;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: -1;
  background-color: #FFFF67;
  -webkit-transition: height 2s, top 2s;
}

.beforeResumePage {
  height: 0px;
  overflow-x: auto;
  overflow-y: hidden;
  border-bottom: 0px solid #FFFF67;
  -webkit-transition: height 2s, border-bottom 2s;
  -webkit-transition-delay: border-bottom 2s;
}

.afterResumePage {
  height: 400px;
  overflow-x: auto;
  overflow-y: hidden;
  border-bottom: 3px solid #FFFF67;
  -webkit-transition: height 2s;
  -webkit-transition-delay: border-bottom 2s;
}

.beforeResumePage #info {
  display: inline-block;
  position: relative;
  margin: 0px auto;
  height: 45px;
  width: 45px;
  border-radius: 180px;
  outline: none;
  z-index: -1;
  box-shadow: 0.5px 0.5px 0.5px 0.5px;
  visibility: hidden;
  -webkit-transition: visibility 1s;
}

.afterResumePage #info {
  display: inline-block;
  margin: 0px auto;
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 180px;
  visibility: visible;
  outline: none;
  box-shadow: 2px 2px 2px 2px;
  -webkit-transition: visibility 2s;
  -webkit-transition-delay: 1s;
}

.beforeResumePage .innerBlock {
  height: 0px;
  /*visibility: hidden;*/
  -webkit-transition: height 2s, visibility 2s;
}

.afterResumePage .innerBlock {
  height: 400px;
  -webkit-transition: height 2s, visibility 2s;
}
