.beforeSourceLine {
  position: relative;
  top: 0px;
  height: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: -1;
  background-color: #11FFB5;
  -webkit-transition: height 2s, top 2s;
}

.afterSourceLine {
  position: relative;
  top: -35px;
  height: 150px;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: -1;
  background-color: #11FFB5;
  -webkit-transition: height 2s, top 2s;
}

.sourceMainBlock p {
  font-size: 150px;
  font-family: 'helvetica';
  color: white;
  letter-spacing: 100px;
  padding: 0px 0px 0px 80px;
  margin: 30px auto;
  font-weight: 600;
  color: white;
}

.beforeSourcePage {
  height: 0px;
  overflow-x: auto;
  overflow-y: hidden;
  border-bottom: 0px solid #11FFB5;
  -webkit-transition: height 2s, border-bottom 2s;
  -webkit-transition-delay: border-bottom 2s;
}

.afterSourcePage {
  height: 450px;
  overflow-x: hidden;
  overflow-y: hidden;
  border-bottom: 3px solid #11FFB5;
  -webkit-transition: height 2s;
  -webkit-transition-delay: border-bottom 2s;
}

.beforeSourcePage #source {
  display: inline-block;
  position: relative;
  margin: 0px auto;
  height: 45px;
  width: 45px;
  border-radius: 180px;
  outline: none;
  z-index: -1;
  box-shadow: 0.5px 0.5px 0.5px 0.5px;
  visibility: hidden;
  -webkit-transition: visibility 1s;
}

.afterSourcePage #source {
  display: inline-block;
  margin: 0px auto;
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 180px;
  visibility: visible;
  outline: none;
  box-shadow: 2px 2px 2px 2px;
  -webkit-transition: visibility 2s;
  -webkit-transition-delay: 1s;
}

.beforeSourcePage .innerBlock {
  height: 0px;
  -webkit-transition: height 2s, visibility 2s;
}

.afterSourcePage .innerBlock {
  height: 400px;
  -webkit-transition: height 2s, visibility 2s;
}

.beforeSourcePage .innerBlock .left {
  display: inline-flex;
  flex-direction: column;
  /*position: relative;*/
  float: left;
  margin: 25px 0px 0px 50px;
  height: 350px;
  width: 600px;
  text-align: center;
}

.afterSourcePage .innerBlock .left {
  display: inline-flex;
  flex-direction: column;
  /*position: relative;*/
  float: left;
  margin: 25px 0px 0px 50px;
  height: 200px;
  width: 500px;
  text-align: center;
}

#sourcePic {
  display: inline-block;
  height: auto;
  width: 500px;
  border-radius: 5px;
}

.beforeSourcePage .innerBlock .right {
  /*position: relative;*/
  float: right;
  margin: -325px 50px 0px 0px;
  height: 250px;
  width: 800px;
  border-left: 2px solid black;
  text-align: center;
}

.afterSourcePage .innerBlock .right {
  /*position: relative;*/
  float: right;
  margin: 50px 50px 0px 0px;
  height: 250px;
  width: 800px;
  border-left: 2px solid black;
  text-align: center;
}

.beforeSourcePage .innerBlock .right a {
  text-decoration: none;
}

.afterSourcePage .innerBlock .right a {
  text-decoration: none;
}

.beforeSourcePage .innerBlock .right ul {
  list-style: none;
  margin-right: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-style: italic;
  font-variant: small-caps;
  font-weight: 200;
  line-height: 20px;
  letter-spacing: 1px;
  color: black;
  padding: 0px 20px;
  text-align: center;
}

.afterSourcePage .innerBlock .right ul {
  list-style: none;
  margin-right: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-style: italic;
  font-variant: small-caps;
  font-weight: 200;
  line-height: 20px;
  letter-spacing: 1px;
  color: black;
  padding: 0px 20px;
  text-align: center;
}
