.beforeSourceLine {
  position: relative;
  top: 0px;
  height: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #0CE857;
  -webkit-transition: height 2s, top 2s;
}

.afterSourceLine {
  position: relative;
  top: -35px;
  height: 150px;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #0CE857;
  -webkit-transition: height 2s, top 2s;
}

.sourceMainBlock p {
  font-size: 150px;
  font-family: 'helvetica';
  color: white;
  letter-spacing: 100px;
  padding: 0px 0px 0px 80px;
  margin: 30px auto;
  font-weight: 600;
  color: white;
}

.beforeSourcePage {
  height: 0px;
  overflow-x: auto;
  overflow-y: hidden;
  border-bottom: 0px solid #0CE857;
  -webkit-transition: height 2s, border-bottom 2s;
  -webkit-transition-delay: border-bottom 2s;
}

.afterSourcePage {
  height: 400px;
  overflow-x: auto;
  overflow-y: hidden;
  border-bottom: 3px solid #0CE857;
  -webkit-transition: height 2s;
  -webkit-transition-delay: border-bottom 2s;
}

.beforeSourcePage button {
  display: inline-block;
  position: relative;
  margin: 0px auto;
  height: 30px;
  width: 60px;
  border-radius: 180px;
  background-color: #0CE857;
  border: 3px solid white;
  box-shadow: 1px 1px 1px 1px;
  visibility: hidden;
  -webkit-transition: visibility 1s;
}

.afterSourcePage button {
  display: inline-block;
  margin: 0px auto;
  position: relative;
  height: 30px;
  width: 60px;
  border-radius: 180px;
  visibility: visible;
  background-color: #0CE857;
  border: 3px solid white;
  box-shadow: 1px 1px 1px 1px;
  -webkit-transition: visibility 2s;
  -webkit-transition-delay: 1s;
}

.beforeSourcePage .innerBlock {
  height: 0px;
  -webkit-transition: height 2s, visibility 2s;
}

.afterSourcePage .innerBlock {
  height: 400px;
  -webkit-transition: height 2s, visibility 2s;
}
