.beforeSourceLine {
  position: relative;
  height: 0px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: -1;
  background-color: #11FFB5;
  transition: height 2s;
  -webkit-transition: height 2s;
  -moz-transition: height 2s;
  -ms-transition: height 2s;
}

.sourceMainBlock {
  margin-bottom: 35px;
}

.afterSourceLine {
  position: relative;
  height: 150px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: -1;
  background-color: #11FFB5;
  transition: height 2s;
  -webkit-transition: height 2s;
  -moz-transition: height 2s;
  -ms-transition: height 2s;
}

.beforeSourceLine p {
  display: inline-block;
  font-size: 150px;
  font-family: 'helvetica';
  color: white;
  letter-spacing: 100px;
  margin-top: 30px;
  font-weight: 600;
  color: white;
}

.afterSourceLine p {
  display: inline-block;
  font-size: 150px;
  font-family: 'helvetica';
  color: white;
  letter-spacing: 100px;
  margin-top: 30px;
  font-weight: 600;
  color: white;
}

.beforeSourcePage {
  display: inline-block;
  position: relative;
  text-align: center;
  height: 0px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  border-bottom: 0px solid #11FFB5;
  transition: height 2s, border-bottom 2s;
  transition-delay: border-bottom 2s;
  -webkit-transition: height 2s, border-bottom 2s;
  -webkit-transition-delay: border-bottom 2s;
  -moz-transition: height 2s, border-bottom 2s;
  -moz-transition-delay: border-bottom 2s;
  -ms-transition: height 2s, border-bottom 2s;
  -ms-transition-delay: border-bottom 2s;
}

.afterSourcePage {
  display: inline-block;
  position: relative;
  text-align: center;
  height: 450px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  border-bottom: 3px solid #11FFB5;
  transition: height 2s;
  transition-delay: border-bottom 2s;
  -webkit-transition: height 2s;
  -webkit-transition-delay: border-bottom 2s;
  -moz-transition: height 2s;
  -moz-transition-delay: border-bottom 2s;
  -ms-transition: height 2s;
  -ms-transition-delay: border-bottom 2s;
}

.beforeSourcePage #source {
  display: inline-block;
  position: relative;
  margin: 15px auto;
  height: 45px;
  width: 45px;
  border-radius: 180px;
  outline: none;
  z-index: -1;
  box-shadow: 0.5px 0.5px 0.5px 0.5px;
  visibility: hidden;
  transition: visibility 1s;
  -webkit-transition: visibility 1s;
  -moz-transition: visibility 1s;
  -ms-transition: visibility 1s;
}

.afterSourcePage #source {
  display: inline-block;
  margin: 15px auto;
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 180px;
  visibility: visible;
  outline: none;
  box-shadow: 2px 2px 2px 2px;
  transition: visibility 2s;
  transition-delay: 1s;
  -webkit-transition: visibility 2s;
  -webkit-transition-delay: 1s;
  -moz-transition: visibility 2s;
  -moz-transition-delay: 1s;
  -ms-transition: visibility 2s;
  -ms-transition-delay: 1s;
}

.beforeSourcePage .innerBlock {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px auto;
  width: 100%;
  height: 0px;
  transition: height 2s, visibility 2s;
  -webkit-transition: height 2s, visibility 2s;
  -moz-transition: height 2s, visibility 2s;
  -ms-transition: height 2s, visibility 2s;
}

.afterSourcePage .innerBlock {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px auto;
  width: 100%;
  height: 300px;
  transition: height 2s, visibility 2s;
  -webkit-transition: height 2s, visibility 2s;
  -moz-transition: height 2s, visibility 2s;
  -ms-transition: height 2s, visibility 2s;
}

.beforeSourcePage .innerBlock .left {
 position: relative;
  height: 300px;
  width: 550px;
}

.afterSourcePage .innerBlock .left {
  position: relative;
  height: 300px;
  width: 550px;
}

#sourcePic {
  display: inline-block;
  height: auto;
  width: 500px;
  border-radius: 5px;
}

.beforeSourcePage .innerBlock .right {
  float: right;
  position: relative;
  height: 250px;
  width: 800px;
  border-left: 2px solid black;
}

.afterSourcePage .innerBlock .right {
  float: right;
  position: relative;
  height: 250px;
  width: 800px;
  border-left: 2px solid black;
}

.beforeSourcePage .innerBlock .right a {
  text-decoration: none;
}

.afterSourcePage .innerBlock .right a {
  text-decoration: none;
}

.beforeSourcePage .innerBlock .right ul {
  list-style: none;
  margin-right: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-style: italic;
  font-variant: small-caps;
  font-weight: 200;
  line-height: 20px;
  letter-spacing: 1px;
  color: black;
  padding: 0px 20px;
  text-align: center;
}

.afterSourcePage .innerBlock .right ul {
  list-style: none;
  margin-right: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-style: italic;
  font-variant: small-caps;
  font-weight: 200;
  line-height: 20px;
  letter-spacing: 1px;
  color: black;
  padding: 0px 20px;
  text-align: center;
}
