.beforeSurferLine {
  height: 0px;
  -webkit-transition: height 2s;
}

.afterSurferLine {
  height: 150px;
  -webkit-transition: height 2s;
}

.beforeSurferLine button {
  display: block;
  margin: 0 auto;
  visibility: hidden;
  -webkit-transition: visibility 1s;
}

.afterSurferLine button {
  display: block;
  margin: 0 auto;
  visibility: visible;
  -webkit-transition: visibility 2s;
  -webkit-transition-delay: 1s;
}

.beforeSurferPage {
  height: 0px;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-transition: height 2s;
}

.afterSurferPage {
  height: 400px;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-transition: height 2s;
}

.beforeSurferPage .innerBlock {
  height: 0px;
  -webkit-transition: height 2s, visibility 2s;
}

.afterSurferPage .innerBlock {
  height: 400px;
  -webkit-transition: height 2s, visibility 2s;
}
