@media (max-width: 500px) {
  .mainBlock .beforeLogo img {
    height: 150px;
    width: auto;
    z-index: 1;
  }
  .mainBlock .afterLogo img {
    height: 125px;
    width: auto;
    z-index: 1;
  }
  .mainBlock .afterClickMenu {
    height: 220px;
  }
  .mainBlock .afterClickMenu .lines {
    display: inline-block;
    position: relative;
    height: 100px;
    width: 100%;
  }
  .mainBlock .beforeClickMenu .lines p {
    width: 100%;
    font-size: 100px;
    letter-spacing: 20px;
    margin-top: 20px;
    margin-left: 10px;
  }
  .mainBlock .afterClickMenu .lines p {
    width: 100%;
    font-size: 100px;
    letter-spacing: 20px;
    margin-top: 20px;
    margin-left: 10px;
  }
  .mainBlock .beforeClickMenu #catId {
    padding-left: 0px;
    width: 100%;
  }
  .mainBlock .afterClickMenu #catId {
    padding-left: 0px;
    width: 100%;
  }
  .mainBlock .beforeClickMenu .categories {
    height: 100px;
  }
  .mainBlock .afterClickMenu .categories {
    height: 100px;
  }
  .mainBlock .beforeClickMenu .categories ul li img {
    height: 85px;
    width: auto;
    margin: 0px 0px;
  }
  .mainBlock .afterClickMenu .categories ul li img {
    height: 85px;
    width: auto;
    margin: 0px 0px;
  }
  .mainBlock .afterClickMenu .categories ul li img:hover {
    height: 115px;
    width: auto;
  }
}
/*end of media query*/

.mainBlock {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.beforeLogo {
  width: 100%;
  height: 290px;
  margin: 0 auto;
  text-align: center;
  transition: height 2s;
  -webkit-transition: height 2s;
  -moz-transition: height 2s;
  -ms-transition: height 2s;
}

.afterLogo {
  width: 100%;
  height: 280px;
  margin: 0 auto;
  text-align: center;
  transition: height 2s;
  transition: height 2s;
  -webkit-transition: height 2s;
  -moz-transition: height 2s;
  -ms-transition: height 2s;
}

.beforeLogo img {
  display: inline-block;
  position: relative;
  margin-bottom: 100px;
  top: 200px;
  height: 200px;
  width: auto;
  transition: height 2s, top 2s, -webkit-transform 2s;
  -webkit-transition: height 2s, top 2s, -webkit-transform 2s;
  -moz-transition: height 2s, top 2s, -webkit-transform 2s;
  -ms-transition: height 2s, top 2s, -webkit-transform 2s;
}

.afterLogo img {
  display: inline-block;
  position: relative;
  margin-bottom: 130px;
  top: 100px;
  height: 150px;
  width: auto;
  transition: height 2s, top 2s;
  -webkit-transition: height 2s, top 2s;
  -moz-transition: height 2s, top 2s;
  -ms-transition: height 2s, top 2s;
}

#red {
  display: inline-block;
  position: relative;

}

.beforeLogo img:hover {
  animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
   10%, 90% {
    transform: translate3d(-1px, -1px, -1px);
  }
  20%, 80% {
    transform: translate3d(2px, 1px, 1px);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, -2px, -2px);
  }
  40%, 60% {
    transform: translate3d(4px, 2px, 2px);
  }
}

.beforeClickMenu {
  height: 0px;
  width: 100%;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: height 2s;
  -webkit-transition: height 2s;
  -moz-transition: height 2s;
  -ms-transition: height 2s;
}

.afterClickMenu {
  height: 365px;
  width: 100%;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: height 2s;
  -webkit-transition: height 2s;
  -moz-transition: height 2s;
  -ms-transition: height 2s;
}

.lines p {
  display: inline-block;
  width: 770px;
  font-size: 150px;
  font-family: 'helvetica';
  color: white;
  letter-spacing: 100px;
  margin-top: 6px;
  font-weight: 600;
}

.beforeClickMenu .lines {
  display: inline-block;
  height: 0px;
  width: 100%;
  margin: 0 auto;
  background-color: #FFA60D;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: height 2s;
  -webkit-transition: height 2s;
  -moz-transition: height 2s;
  -ms-transition: height 2s;
}

.afterClickMenu .lines {
  display: inline-block;
  height: 125px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background-color: #FFA60D;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: height 2s;
  -webkit-transition: height 2s;
  -moz-transition: height 2s;
  -ms-transition: height 2s;
}

.beforeClickMenu .categories {
  height: 0px;
  width: 100%;
  margin: 0 auto;
  transition: height 2s, top 1s;
  -webkit-transition: height 2s, top 1s;
  -moz-transition: height 2s, top 1s;
  -ms-transition: height 2s, top 1s;
}

.afterClickMenu .categories {
  height: 225px;
  width: auto;
  margin: 0 auto;
  transition: height 2s;
  -webkit-transition: height 2s;
  -moz-transition: height 2s;
  -ms-transition: height 2s;
}

.categories ul {
  display: inline-flex;
  list-style: none;
  text-align: center;
  margin: 10px 30px 0px 0px;
  flex-direction: row;
  justify-content: space-between;
}

.beforeClickMenu .categories ul img {
  height: 200px;
  width: 200px;
  border-radius: 180px;
  margin: 0px 50px 0px;
  z-index: 1;
  transition: height 2s, width 2s, margin 2s;
  -webkit-transition: height 2s, width 2s, margin 2s;
  -moz-transition: height 2s, width 2s, margin 2s;
  -ms-transition: height 2s, width 2s, margin 2s;
}

.afterClickMenu .categories ul img {
  display: inline-block;
  height: 200px;
  width: 200px;
  border-radius: 180px;
  margin: 0px 50px 0px;
  z-index: 1;
  transition: height 2s, width 2s, margin 2s;
  transition-delay: 0.5s;
  -webkit-transition: height 2s, width 2s, margin 2s;
  -webkit-transition-delay: 0.5s;
  -moz-transition: height 2s, width 2s, margin 2s;
  -moz-transition-delay: 0.5s;
  -ms-transition: height 2s, width 2s, margin 2s;
  -ms-transition-delay: 0.5s;
}

.afterClickMenu .categories ul img:hover {
  height: 235px;
  width: 235px;
  transition: height 1s, width 1s;
  -webkit-transition: height 1s, width 1s;
  -moz-transition: height 1s, width 1s;
  -ms-transition: height 1s, width 1s;
}
